include ../mixins/accordion

.section.section--support
  .section__aside
    .section__title.desktop-only Служба поддержки
    .section__text.desktop-only По вопросам, связанным с применением нашей продукции или сервисам по ремонту и запасным частям.
  .section__content
    .section__title.mobile-only Служба поддержки
    .section__text.mobile-only По вопросам, связанным с применением нашей продукции или сервисам по ремонту и запасным частям.
    +accordion({
      contentClass: `accordion-contact`,
      type: `contact`,
      items: [
        {
          name: "Общие вопросы",
          groups: [
            {
              name: 'bvz',
              contacts: [
                {
                  type: 'phone',
                  name: 'Телефон',
                  value: '+7 (495) 560-9-560'
                },
                {
                  type: 'email',
                  value: 'contact@ru.bosch.com'
                }
              ]
            }
          ],
        },
        {
          name: "По электроинструментам",
          phone: {
            href: "88001008007",
            name: "8 (800) 100-8007"
          }
        },
        {
          name: "По бытовой технике",
          groups: []
        },
        {
          name: "По автомобильным запчастям и оборудованию",
          groups: []
        },
        {
          name: "Отопление и горячее водоснабжение",
          groups: [
            {
              name: 'Общие вопросы',
              contacts: [
                {
                  type: 'phone',
                  name: 'Телефон',
                  value: '+7 (495) 560-9-560'
                },
                {
                  type: 'email',
                  value: 'contact@ru.bosch.com'
                }
              ]
            },
            {
              name: 'Промышленные отопительные установки',
              contacts: [
                {
                  type: 'phone',
                  name: 'Телефон',
                  value: '+7 (495) 560-9-560'
                },
                {
                  type: 'email',
                  value: 'contact@ru.bosch.com'
                }
              ]
            }
          ]
        }
      ]
    })