.wide-slider
  #wideSlider.swiper
    .swiper-wrapper
      .swiper-slide
        .wide-slide
          .wide-slide__bg: img(src="images/catalog/auto-parts-and-accesories.webp")
          .wide-slide__wrapper
            .wide-slide__container
              .wide-slide__content
                .wide-slide__title Решения для автомобилей
                .wide-slide__description Небольшое описание на слайде для раздела автомобили
                .wide-slide__links
                  a(href="#").btn.btn--primary Узнать подробнее
      .swiper-slide
        .wide-slide
          .wide-slide__bg: img(src="images/catalog/psm-200-aes-multi-sander.webp")
          .wide-slide__wrapper
            .wide-slide__container
              .wide-slide__content
                .wide-slide__title Технологии для вашего дома и сада
                .wide-slide__description Небольшое описание на слайде для раздела автомобили
                .wide-slide__links
                  a(href="#").btn.btn--primary Узнать подробнее
      .swiper-slide
        .wide-slide.wide-slide--content-right
          .wide-slide__bg: img(src="images/catalog/industry-and-trade.webp")
          .wide-slide__wrapper
            .wide-slide__container
              .wide-slide__content
                .wide-slide__title Промышленность и торговля
                .wide-slide__description Небольшое описание на слайде для раздела автомобили
                .wide-slide__links
                  a(href="#").btn.btn--primary Узнать подробнее

    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next