extends layouts/main/layout

block vars
  - pageTitle = 'Связаться с нами'
  - headlineText = ''
  - breadcrumbList = [{name: "Контакты"}];
  - pageClass = 'page--contacts';

block content
  include blocks/section-support