extends layouts/main/layout

block vars
  - browserTitle = 'Отказ от ответственности';
  - headlineTitle = 'Отказ от ответственности';
  - pageName = 'disclaimer';

block content
  .bd-content
    p Содержание веб-страниц сайта https://бош.ру предоставляется только в информационных целях и не предназначено к использованию в качестве инструкции к применению.