extends layouts/main/layout

block vars
  - headlineTitle = 'Интерфейс пользователя'

block content
  h2 Check list
  ul.styled-list.styled-list--checks
    li Элемент 1
    li Элемент 2
  h2 Чек-лист
  ul.styled-list.styled-list--arrow
    li Как правильно выбрать <strong>что-то полужирным</strong>
    li Что необходимо сделать вначале

