extends layouts/main/layout
include mixins/accordion

block vars
  - pageTitle = 'Узнайте больше о нашей продукции'
  - headlineText = 'Разработано для жизни'
  - showNavChain = false

block content
  include components/blocks/section-slider
  .section.section--about
    .section__aside
      .section__title.desktop-only Bosch &mdash; разработано для жизни
      a(href="#").btn.btn--primary.desktop-only О компании
    .section__content
      .section__title.mobile-only Группа компаний Bosch является ведущим мировым поставщиком технологий и услуг
      .section__subtitle.desktop-only Группа компаний Bosch является ведущим мировым поставщиком технологий и услуг
      .section__text
        p Стратегической целью Bosch является улучшение качества жизни людей во всем мире с помощью инновационных продуктов и услуг. Компания создает технологии, которые «разработаны для жизни».
      .section__picture: img(src="images/static/build.jpg")
      .section__text
        p История Bosch началась в 1886 г. с основания Робертом Бошем «Мастерской точной механики и электротехники» в городе Штутгарт. Это было рождение компании, работающей сегодня по всему миру: 440 дочерних и региональных компаний, совместно с Robert Bosch GmbH, объединены в составе группы Bosch в более чем 60 странах и регионах. Глобальная сеть, объединившая партнеров компании по продажам и обслуживанию в 150 странах, сформировала прочную основу для дальнейшего развития компании.
      a(href="/our-company/").btn.btn--primary.mobile-only О компании

  .section.section--support
    .section__aside
      .section__title.desktop-only Служба поддержки
      .section__text.desktop-only По вопросам, связанным с применением нашей продукции или сервисам по ремонту и запасным частям.
    .section__content
      .section__title.mobile-only Служба поддержки
      .section__text.mobile-only По вопросам, связанным с применением нашей продукции или сервисам по ремонту и запасным частям.
      +accordion({
        contentClass: `accordion-contact`,
        type: `contact`,
        items: [
          {
            name: "По общим вопросам",
            phone: {
              href: "+74955609560",
              name: "+7 (495) 560-9-560"
            },
            email: "contact@ru.bosch.com"
          },
          {
            name: "По электроинструментам",
            phone: {
              href: "88001008007",
              name: "8 (800) 100-8007"
            }
          },
          {
            name: "По бытовой технике",
            phone: {
              href: "88001008007",
              name: "8 (800) 100-8007"
            }
          },
          {
            name: "По автомобильным запчастям и оборудованию",
            phone: {
              href: "88002002961",
              name: "8 (800) 200-2961"
            },
            email: "hotlineru@bshg.com.ru",
            site: "https://www.bsh-russia.ru/"
          },
          {
            name: "По системам отопления",
            phone: {
              href: "88002000203",
              name: "8 (800) 200-02-03"
            },
            email: "support@bosch-climate.ru",
          }
        ]
      })
