extends layouts/main/layout

block vars
  - pageTitle = 'Bosch дает добро на массовое производство чипов из карбида кремния'
  - headlineText = 'Разработано для жизни и еще очень много текста'
  - breadcrumbList = [{name: "Новости", link: "news.html"}, {name: "Bosch дает добро на массовое производство чипов из карбида кремния"}];

block content
  .news-detail
    .news-detail__picture: img(src="images/news/bosch_sic_wafer_2-standard_res_1600x900.webp")
    .news-detail__date 02.12.2021
    .news-detail__section
      .news-detail-gallery
        .news-detail-gallery__item
          a(href="images/news/gallery/bosch_sic_wafer_2-standard-hand_res_1600x900.webp" data-fancybox="gallery")
            .news-detail-gallery__picture
              img(src="images/news/gallery/bosch_sic_wafer_2-standard-hand_res_1600x900.webp")
        .news-detail-gallery__item
          a(href="images/news/gallery/bosch_sic_wafer_2_res_1600x900.webp" data-fancybox="gallery")
            .news-detail-gallery__picture
              img(src="images/news/gallery/bosch_sic_wafer_2_res_1600x900.webp")
        .news-detail-gallery__item
          a(href="images/news/gallery/bosch_sic_wafer_3_res_1600x900.webp" data-fancybox="gallery")
            .news-detail-gallery__picture
              img(src="images/news/gallery/bosch_sic_wafer_3_res_1600x900.webp")
        .news-detail-gallery__item
          a(href="images/news/gallery/bosch_waferfab_reutlingen_1_res_1600x900.webp" data-fancybox="gallery")
            .news-detail-gallery__picture
              img(src="images/news/gallery/bosch_waferfab_reutlingen_1_res_1600x900.webp")
        .news-detail-gallery__item
          a(href="images/news/gallery/bosch_waferfab_reutlingen_2_res_1600x900.webp" data-fancybox="gallery")
            .news-detail-gallery__picture
              img(src="images/news/gallery/bosch_waferfab_reutlingen_2_res_1600x900.webp")
    .news-detail__back
      a.news-detail__back-link(href="news.html")
        svg(class="svg-icon" viewBox="0 0 1024 1024" width="18" height="18"): use(xlink:href="#svg-arrow-left")
        span Возврат к списку