extends layouts/main/layout

block vars
  - pageTitle = 'Bosch дает добро на массовое производство чипов из карбида кремния'
  - headlineText = 'Разработано для жизни и еще очень много текста'
  - breadcrumbList = [{name: "Новости", link: "news.html"}, {name: "Bosch дает добро на массовое производство чипов из карбида кремния"}];

block content
  .news-detail
    .news-detail__picture: img(src="images/news/bosch_sic_wafer_2-standard_res_1600x900.webp")
    .news-detail__date 02.12.2021
    .news-detail__section
      .news-detail__intro.bd-content
        ul
          li Харальд Крёгер: "Мы хотим стать мировым лидером в производстве SiC-чипов для электромобилей".
          li Полупроводники из карбида кремния позволяют увеличить дальность пробега и скорость зарядки электромобилей.
          li Массовое производство начнется в декабре 2021 года. С начала 2021 года Bosch производит чипы SiC для проверки заказчиками.
          li Разработка технологии финансируется Федеральным министерством экономики и энергетики Германии (BMWi).
        ol
          li Элемент 1
          li Элемент 2
          li Элемент 3
    .news-detail__section
      .news-detail__preview-text.bd-content
        p Ройтлинген, Германия - Полупроводники из карбида кремния (SiC) небольшие, мощные и чрезвычайно эффективные. После нескольких лет разработок компания Bosch начинает серийное производство силовых полупроводников из этого инновационного материала, чтобы поставлять их автопроизводителям по всему миру. В будущем все больше автомобилей серийного производства будут оснащаться этими чипами.
        p «У карбидокремниевых полупроводников большое будущее. Мы хотим стать мировым лидером в производстве SiC-чипов для электромобилей», - сказал Харальд Крёгер, член Правления Robert Bosch GmbH.
        p Два года назад было объявлено, что разработка чипов SiC продолжится и будет запущено их производство. Для этого Bosch разработала собственные комплексные процессы, которые используются для производства специальных полупроводников с начала 2021 года - изначально в качестве пробных образцов для заказчиков.

    .news-detail__section
      .news-detail-gallery
        .news-detail-gallery__item
          a(href="images/news/gallery/bosch_sic_wafer_2-standard-hand_res_1600x900.webp" data-fancybox="gallery")
            .news-detail-gallery__picture
              img(src="images/news/gallery/bosch_sic_wafer_2-standard-hand_res_1600x900.webp")
        .news-detail-gallery__item
          a(href="images/news/gallery/bosch_sic_wafer_2_res_1600x900.webp" data-fancybox="gallery")
            .news-detail-gallery__picture
              img(src="images/news/gallery/bosch_sic_wafer_2_res_1600x900.webp")
        .news-detail-gallery__item
          a(href="images/news/gallery/bosch_sic_wafer_3_res_1600x900.webp" data-fancybox="gallery")
            .news-detail-gallery__picture
              img(src="images/news/gallery/bosch_sic_wafer_3_res_1600x900.webp")
        .news-detail-gallery__item
          a(href="images/news/gallery/bosch_waferfab_reutlingen_1_res_1600x900.webp" data-fancybox="gallery")
            .news-detail-gallery__picture
              img(src="images/news/gallery/bosch_waferfab_reutlingen_1_res_1600x900.webp")
        .news-detail-gallery__item
          a(href="images/news/gallery/bosch_waferfab_reutlingen_2_res_1600x900.webp" data-fancybox="gallery")
            .news-detail-gallery__picture
              img(src="images/news/gallery/bosch_waferfab_reutlingen_2_res_1600x900.webp")

    .news-detail__section
      .news-detail__detail-text.bd-content
        h3 Полупроводники из карбида кремния
        p Ройтлинген, Германия - Полупроводники из карбида кремния (SiC) небольшие, мощные и чрезвычайно эффективные. После нескольких лет разработок компания Bosch начинает серийное производство силовых полупроводников из этого инновационного материала, чтобы поставлять их автопроизводителям по всему миру. В будущем все больше автомобилей серийного производства будут оснащаться этими чипами.
        p «У карбидокремниевых полупроводников большое будущее. Мы хотим стать мировым лидером в производстве SiC-чипов для электромобилей», - сказал Харальд Крёгер, член Правления Robert Bosch GmbH.
        p Два года назад было объявлено, что разработка чипов SiC продолжится и будет запущено их производство. Для этого Bosch разработала собственные комплексные процессы, которые используются для производства специальных полупроводников с начала 2021 года - изначально в качестве пробных образцов для заказчиков.

    .news-detail__back
      a.news-detail__back-link(href="news.html")
        svg(class="svg-icon" viewBox="0 0 1024 1024" width="18" height="18"): use(xlink:href="#svg-arrow-left")
        span Возврат к списку