extends layouts/main/layout
include mixins/news

block vars
  - pageTitle = 'Новости'
  - breadcrumbList = [{name: "Новости"}];

block content
  +news({
    items: [
      {
        id: 1,
        date: "18 июля 2023",
        title: "Топ 3 сплит-системы от Bosch 2023",
        description: "Модельный ряд бытовых систем кондиционирования Bosch 2023",
        image: "images/catalog/at-home.webp"
      },
      {
        id: 2,
        date: "4 апреля 2023",
        title: "Обновленный каталог Bosch 2023 года",
        description: "Мы рады сообщить о выпуске обновленного каталога бытовых кондиционеров",
        image: "images/catalog/home-appliances-range.webp"
      },
      {
        id: 3,
        date: "23 ноября 2022",
        title: "Проанализировали ситуацию на рынке и вам расскажем",
        description: "24-28 октября в Турции прошла конференция Bosch Master",
        image: "images/catalog/industry-and-trade.webp"
      },
      {
        id: 4,
        date: "18 июля 2023",
        title: "Новинка от Bosch - флагманская серия Climate Line 6000i",
        description: "Новинка лидера рынка",
        image: "images/catalog/large-thermal-plants-and-system-solutions.webp"
      },
      {
        id: 5,
        date: "4 апреля 2023",
        title: "Запуск линии по производству электроинструментов для профессионалов",
        description: "",
        image: "images/catalog/power-tools-for-professionals.webp"
      },
      {
        id: 6,
        date: "23 ноября 2022",
        title: "Стратегическая конференция Bosch Master!",
        description: "24-28 октября в Турции прошла конференция Bosch Master",
        image: "images/news/news_1.jpg"
      },
    ]
  })