extends layouts/main/layout

block vars
  - pageTitle = 'Bosch в России'
  - breadcrumbList = [{name: "О компании", link: 'our-company.html'}, {name: "Bosch в России"}];
  - pageClass = 'page--company';

block content