extends layouts/main/layout

block vars
  - browserTitle = 'Политика конфиденциальности';
  - pageTitle = 'Политика конфиденциальности';
  - headlineTitle = 'Политика защиты данных';
  - headlineText = 'Положения о конфиденциальности компании ООО «Роберт Бош»';
  - pageName = 'policy';

block content
  .bd-content
    p Компания ООО «Роберт Бош» (здесь и далее именуемая «Bosch», «Мы» или «Нам/Нас») благодарит за посещение наших сайтов и использование мобильных приложений (именуемых «онлайн-предложение»), а также за ваш интерес к нашей компании и продукции.
    h3 1. Bosch соблюдает обязательства в отношении конфиденциальности ваших данных
    p Защита конфиденциальности при обработке ваших персональных данных, а также обеспечение безопасности всей коммерческой информации является ключевым требованием, которое мы соблюдаем в нашей деятельности. Мы обрабатываем персональные данные, полученные при вашем посещении онлайн-предложений, с соблюдением конфиденциальности и в соответствии с законодательными нормами.
    p Защита данных и информационная безопасность являются неотъемлемой частью нашей корпоративной политики.
    h3 2. Ответственность
    p Компания Bosch несет ответственность за обработку ваших данных; исключения обозначены в данном уведомлении о защите данных.
    p Ниже представлена наша контактная информация:
    p Robert Bosch GmbH<br>Robert-Bosch-Platz 1<br>70839 Gerlingen-Schillerhöhe
    p Электронная почта: <a href="mailto:kontakt@bosch.de">kontakt@bosch.de</a>
    p Телефон: <a href="tel:+49 711 400 40990">+49 711 400 40990</a>