extends layouts/main/layout

block vars
  - browserTitle = 'Политика конфиденциальности';
  - headlineTitle = 'Политика защиты данных';
  - headlineText = 'Положение о конфиденциальности компании ООО «Роберт Бош»';
  - pageName = 'policy';

block content
  .bd-content
    p Компания ООО «Роберт Бош» (здесь и далее именуемая «Bosch», «Мы» или «Нам/Нас») благодарит за посещение наших сайтов и использование мобильных приложений (именуемых «онлайн-предложение»), а также за ваш интерес к нашей компании и продукции.
    h2 1. Bosch соблюдает обязательства в отношении конфиденциальности ваших данных
    p Защита конфиденциальности при обработке ваших персональных данных, а также обеспечение безопасности всей коммерческой информации является ключевым требованием, которое мы соблюдаем в нашей деятельности. Мы обрабатываем персональные данные, полученные при вашем посещении онлайн-предложений, с соблюдением конфиденциальности и в соответствии с законодательными нормами.