extends layouts/main/layout
include mixins/product

block vars
  - pageTitle = 'Решения для дома'
  - breadcrumbList = [{name: "Продукция и услуги", link: 'products-and-services.html'}, {name: "Решения для дома"}];
  - pageClass = 'page--products';

block content
  +product({
    items: [
      {
        name: "Садовые инструменты",
        picture: 'images/catalog/bosch-garden-tools.webp',
        description: 'Создавайте сад своей мечты с помощью нашего широкого ассортимента инновационных инструментов и аксессуаров. Садовые инструменты – ваши незаменимые помощники по уходу за садом, газоном и живыми изгородями. Правильно подобранные садовые инструменты и другой садовый инвентарь обеспечат комфорт вашей работы.',
        links: [
          {
            name: 'Перейти к садовым инструментам',
            href: '#'
          }
        ]
      },
      {
        name: "Отопление и горячее водоснабжение",
        picture: 'images/catalog/puspose_bild.webp',
        description: 'Умные и эффективные индивидуальные решения Bosch для отопления и горячего водоснабжения созданы на основе новейших технологий и отличаются возможностью подключения к сети Интернет, простотой использования и привлекательным дизайном.',
        links: [
          {
            name: 'Подробнее',
            href: '#'
          },
        ]
      },
      {
        name: "Бытовая техника",
        picture: 'images/catalog/home-appliances-range.webp',
        description: 'Умные и эффективные индивидуальные решения Bosch для отопления и горячего водоснабжения созданы на основе новейших технологий и отличаются возможностью подключения к сети Интернет, простотой использования и привлекательным дизайном.',
        links: [
          {
            name: 'Перейти к бытовой технике',
            href: '#'
          }
        ]
      }
    ]
  })