extends layouts/main/layout

block vars
  - pageTitle = 'Условия использования'
  - headlineText = 'Отвественный за сайт Роберт Бош'
  - breadcrumbList = [{name: "Условия использования"}];
  - pageClass = 'page--simple-text';

block content
  <h2>Поставщик</h2>
  <p>ООО «Роберт Бош»</p>
  <p>141402, г. Химки, Вашутинское шоссе, 24</p>
  <p>Электронная почта: <a target="_blank" href="mailto:contact@ru.bosch.com">contact@ru.bosch.com</a></p>
  <p>Телефон: +7(495)560-95-60</p>
  <p>Факс: +7(495)560-9999</p>
  <h2>Правовое уведомление</h2>
  <h3> <span style="font-weight: bolder;">(©) Авторское право</span> </h3>
  <p>Вся информация на этом сайте (а именно: текст, изображения, иллюстрации, аудиоматериалы, анимация и видеоматериалы) и ее размещение на сайтах компании Bosch защищены авторским правом и другими законами о защите прав. Копировать, распространять, изменять содержимое этих сайтов или предоставлять к нему доступ третьим лицам для коммерческого использования без согласия соответствующего правообладателя запрещено.
  </p>
  <p>
  </p>
  <h3> <span style="font-weight: bolder;">Товарные знаки</span> </h3>
  <p>Если не указано иное, используемые на наших сайтах товарные знаки являются интеллектуальной собственностью компании Robert Bosch GmbH (Германия).
  </p>
  <p>
  </p>
  <h3> <span style="font-weight: bolder;">Лицензирование</span> </h3>
  <p>Предоставление лицензий на использование интеллектуальной собственности (а именно: патентов, товарных знаков или авторских прав) группы компаний Bosch Group (Bosch) или третьих лиц посредством использования этого сайта не предусмотрено.
  </p>
  <p>
  </p>
  <h3> <span style="font-weight: bolder;">Урегулирование онлайн-споров</span> </h3>
  <p>Европейская комиссия располагает платформой для урегулирования онлайн-споров (ODR). Эта платформа предназначена для внесудебного разрешения споров, связанных с исполнением обязательств, возникающих из договоров онлайн купли-продажи и онлайн-обслуживания.
  </p>
  <p>Платформа представлена по адресу:&nbsp;<a target="_blank" href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>.
  </p>
  <p>Компания Robert Bosch GmbH не участвует в разбирательствах по урегулированию споров в арбитражных органах, занимающихся урегулированием споров с участием потребителей.</p>