extends layouts/main/layout
include mixins/attached-file

block vars
  - pageTitle = 'Автозапчасти и оборудование'
  - breadcrumbList = [{name: "Гарантийное обслуживание", link: "warranty-service.html"}, {name: "Автозапчасти и оборудование"}];

block content
  .warranty-service
    .warranty-service__list
      .warranty-service__section
        .warranty-service__aside
          .warranty-service__aside-content
            .warranty-service__subtitle Условия гарантийного обслуживания в России
        .warranty-service__content
          .warranty-service__text.bd-content
            ol
              li Для оформления рекламаций потребителю необходимо обращаться в адрес продавца, у которого был приобретен товар
              li
                | Гарантия осуществляется при наличии правильно заполненного гарантийного документа, позволяющего идентифицировать изделие и дату его покупки, и распространяется на брак материала или производства.
                br
                | При отсутствии гарантийного документа, однозначно подтверждающего дату покупки изделия с возможностью его идентификации, срок гарантийной поддержки исчисляется от даты производства изделия, указанной в непосредственном или закодированном виде на его корпусе.

              li Согласно сервисным инструкциям производителя проверка работоспособности некоторых изделий для установления причины выхода из строя производится только при наличии автомобиля. Это касается таких изделий, как блоки управления, кислородные датчики, компоненты системы КЕ-Jetronic, модули и катушки зажигания, компоненты тормозной системы.
              li
                | Обязательства по гарантийному случаю аннулируются при наличии неисправностей, обусловленных:
                ul
                  li Установкой изделия на автомобиль, не предусмотренный техническими рекомендациями фирмы Bosch;
                  li Нарушением владельцем правил установки, эксплуатации, транспортировки и хранения изделия;
                  li Нарушением владельцем сохранности пломб, ремонтом изделия посторонними лицами, механическими повреждениями изделия;
                  li Попаданием внутрь изделия посторонних предметов, вызвавших его неисправность;
                  li Действием непреодолимой силы (пожар, аварии, стихийные бедствия и т. п.).
              li Перед монтажом электрического бензонасоса необходимо заменить топливный фильтр и (при наличии загрязнений) промыть топливный бак. Без проведения данных работ претензии к работоспособности изделия не принимаются.
              li При замене датчика массового расхода воздуха обязательна замена воздушного фильтра и прочистка впускного патрубка. Без проведения данных работ претензии к работоспособности изделия не принимаются.
              li Гарантия не распространяется на изделия, вышедшие из строя вследствие естественного износа.
              li На агрегаты дизельных топливных систем (ТНВД, форсунка, инжектор) и запчасти к ним гарантия действительна только при условии их диагностики и ремонта в организациях, оборудованных дизельным испытательным оборудованием фирмы Bosch, проверенным уполномоченной сервисной организацией не реже одного раза в два года. Перед установкой отремонтированного изделия на двигатель обязательна замена топливного фильтра и (при наличии загрязнений) промывка топливной системы. В противном случае гарантия на дизельные компоненты аннулируется.
            p: strong Гарантийный срок на изделия Bosch составляет от 12 до 36 месяцев с момента продажи.
            p: strong Гарантийный срок указан на русскоязычной этикетке непосредственно на упаковке изделия.
          .warranty-service__files
            +attached-file({
              title: 'Полезная информация',
              files: [
                {
                  name: 'Определение даты производства автозапчастей',
                  url: 'media/production-date-code.pdf'
                }
              ]
            })

      .warranty-service__section
        .warranty-service__aside
          .warranty-service__aside-content
            .warranty-service__subtitle Условия гарантийного обслуживания аккумуляторных батарей
        .warranty-service__content
          .warranty-service__text.bd-content
            ol
              li При продаже аккумуляторной батареи «BOSCH» к ней должен быть приложен гарантийный талон, в котором продавец указывает название официального дилера аккумуляторных батарей «BOSCH», наименование и адрес гарантийной мастерской, а также серийный номер аккумуляторной батареи, позволяющие идентифицировать изделие
              li В случае наступления гарантийного случая покупателю необходимо обратиться в мастерскую по адресу, указанному в талоне (если не указано - по месту покупки), и после проведения экспертизы батареи в мастерской получить гарантийное заключение. Если батарея признана дефектной (имеет заводской дефект), на основании заключения мастерской, обратиться к продавцу для замены на аналогичный товар или за денежной компенсацией.
              li Гарантийный срок составляет 24 месяца с даты продажи батареи конечному потребителю для аккумуляторных батарей для легкового транспорта серий S3, S4, S4E, S5, S5A, для мототехники серий M4F, M6, для серий L4, L5, для грузового транспорта серий TE EFB и TA AGM и 12 месяцев для грузового транспорта серий Т3, Т4, Т5.
              li Продавец аккумулятора принимает на себя гарантию на дефекты производства и материалов, которые могут быть выявлены в течение гарантийного срока. Любые дефекты, вызванные внешним воздействием или неправильной эксплуатацией (глубокая разрядка, т.е. напряжение холостого хода менее 8,0 Вольт или аккумулятор не воспринимает зарядный ток), а также естественный износ гарантийными случаями не являются. По требованию гарантийной мастерской для вынесения гарантийного заключения должно быть предоставлено транспортное средство, на котором был установлен проверяемый аккумулятор.
            p По вопросам гарантии на автозапчасти и диагностическое оборудование Bosch обращайтесь по эл. адресу: AASupport@ru.Bosch.com
          .warranty-service__files
            +attached-file({
              title: 'Полезная информация по аккумуляторным батареям Bosch',
              files: [
                {
                  name: 'Гарантийный талон для аккумуляторных батарей',
                  url: 'media/battery-warranty-card.pdf'
                },
                {
                  name: 'Определение даты производства аккумуляторных батарей',
                  url: 'media/information-on-bosch-batteries.pdf'
                }
              ]
            })