.location-popup
  .location-popup__wrapper
    .location-popup__header
      .location-popup__country Россия
      .location-popup__text &mdash; ваша страна, верно?
    .location-popup__buttons
      .location-popup__btn.btn.btn--primary.location-apply Да, верно
      .location-popup__btn.btn.btn--secondary Изменить