.mobile-location-popup
  .mobile-location-popup__overlay.location-apply
  .mobile-location-popup__wrapper
    .mobile-location-popup__close.btn-close.location-apply
    .mobile-location-popup__header
      .mobile-location-popup__title Ваша страна
      .mobile-location-popup__country Россия?
    .mobile-location-popup__buttons
      .mobile-location-popup__btn.btn.btn--secondary(data-drawer-toggle="countrySelect") Изменить
      .mobile-location-popup__btn.btn.btn--primary.location-apply Да, верно
