.product-section-slider.swiper
  .swiper-wrapper
    .swiper-slide
      .product-section-slide
        .product-section-slide__bg: img(src="images/catalog/mobility-solutions-web-portal_res_1280x720.webp")
        .product-section-slide__content
          .product-section-slide__title Решения для мобильности
          a(href="#").product-section-slide__btn.btn.btn--primary Подробнее
    .swiper-slide
      .product-section-slide
        .product-section-slide__bg: img(src="images/catalog/at-home_res_1280x720.webp")
        .product-section-slide__content
          .product-section-slide__title Решения для дома
          a(href="#").product-section-slide__btn.btn.btn--primary Подробнее
    .swiper-slide
      .product-section-slide
        .product-section-slide__bg: img(src="images/catalog/industry-and-trade_res_1280x720.webp")
        .product-section-slide__content
          .product-section-slide__title Решения для промышленности и торговли
          a(href="#").product-section-slide__btn.btn.btn--primary Подробнее
  .swiper-pagination
  .swiper-button-prev
  .swiper-button-next