.section-slider.swiper
  .swiper-wrapper
    .swiper-slide
      .section-slide
        .section-slide__bg: img(src="images/catalog/auto-parts-and-accesories_res_1280x720.webp")
        .section-slide__content
          .section-slide__title Для автомобилей
          .section-slide__buttons
            a(href="#").section-slide__btn.btn.btn--primary Автозапчасти и оборудование
            a(href="#").section-slide__btn.btn.btn--primary Гарантийное обслуживание
            a(href="#").section-slide__btn.btn.btn--primary Куда-то идти
            a(href="#").section-slide__btn.btn.btn--primary Полезное
    .swiper-slide
      .section-slide
        .section-slide__bg: img(src="images/catalog/psm-200-aes-multi-sander_res_1280x720.webp")
        .section-slide__content
          .section-slide__title Идеальные технологии для вашего дома и сада
          .section-slide__buttons
            a(href="#").section-slide__btn.btn.btn--primary Решения для дома и сада
    .swiper-slide
      .section-slide
        .section-slide__bg: img(src="images/catalog/industry-and-trade_res_1280x720.webp")
        .section-slide__content
          .section-slide__title Промышленность и торговля
          a(href="#").section-slide__btn.btn.btn--primary Решения для бизнеса
  .swiper-pagination
  .swiper-button-prev
  .swiper-button-next