.main-slider
  #mainSlider.swiper
    .swiper-wrapper
      .swiper-slide
        .main-slide
          .main-slide__bg: img(src="images/catalog/auto-parts-and-accesories.webp")
          .main-slide__content
            .main-slide__title Для автомобилей
            .main-slide__buttons
              a(href="#").main-slide__btn.btn.btn--primary Автозапчасти и оборудование
              a(href="#").main-slide__btn.btn.btn--primary Гарантийное обслуживание
      .swiper-slide
        .main-slide
          .main-slide__bg: img(src="images/catalog/psm-200-aes-multi-sander.webp")
          .main-slide__content
            .main-slide__title Идеальные технологии для вашего дома и сада
            .main-slide__buttons
              a(href="#").main-slide__btn.btn.btn--primary Решения для дома и сада
      .swiper-slide
        .main-slide
          .main-slide__bg: img(src="images/catalog/industry-and-trade.webp")
          .main-slide__content
            .main-slide__title Промышленность и торговля
            a(href="#").main-slide__btn.btn.btn--primary Решения для бизнеса
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next