.main-slider
  #mainSlider.swiper
    .swiper-wrapper
      .swiper-slide
        .main-slide
          .main-slide__bg: img(src="images/catalog/auto-parts-and-accesories_res_1280x720.webp")
          .main-slide__content
            .main-slide__title Для автомобилей
            .main-slide__buttons
              a(href="#").main-slide__btn.btn.btn--primary Автозапчасти и оборудование
              a(href="#").main-slide__btn.btn.btn--primary Гарантийное обслуживание
              a(href="#").main-slide__btn.btn.btn--primary Куда-то идти
              a(href="#").main-slide__btn.btn.btn--primary Полезное
      .swiper-slide
        .main-slide
          .main-slide__bg: img(src="images/catalog/psm-200-aes-multi-sander_res_1280x720.webp")
          .main-slide__content
            .main-slide__title Идеальные технологии для вашего дома и сада
            .main-slide__buttons
              a(href="#").main-slide__btn.btn.btn--primary Решения для дома и сада
      .swiper-slide
        .main-slide
          .main-slide__bg: img(src="images/catalog/industry-and-trade_res_1280x720.webp")
          .main-slide__content
            .main-slide__title Промышленность и торговля
            a(href="#").main-slide__btn.btn.btn--primary Решения для бизнеса
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next