footer.footer.page__footer
  .footer__container
    .footer__content
      .footer__main
        .footer__aside
          a(href="/").footer__brand: svg(class="svg-icon" viewBox="0 0 433 97" width="433" height="98"): use(xlink:href="#svg-logo")
          .footer__contact
            .footer-phone
              .footer-phone__list
                .footer-phone__item
                  a(href="tel:+7 (495) 560-9-560").footer-phone__number +7 (495) 560-9-560
                  .footer-phone__label Служба поддержки по общим вопросам
                .footer-phone__item
                  a(href="tel:+7 (495) 560-9-560").footer-phone__number 8 (800) 200-29-61
                  .footer-phone__label Служба поддержки БСХ Бытовые приборы
            a(href="mailto:contact@ru.bosch.com" class="footer__email") contact@ru.bosch.com
          .footer__feedback(data-drawer-toggle="feedbackDrawer" aria-label="Кнопка обратной связи")
            img(src="images/icons/chat_icon.png")
            span Обратная связь
        .footer__navbar
          .footer-menu
            ul.footer-menu__list
              li.footer-menu__item
                a(href="support.html").footer-menu__link Поддержка
              li.footer-menu__item
                a(href="our-company.html").footer-menu__link О компании
              li.footer-menu__item
                a(href="contacts.html").footer-menu__link Контакты
              li.footer-menu__item
                a(href="news.html").footer-menu__link Новости
          .footer-catalog
            .footer-catalog__title: a(href="catalog.html") Каталог
            .footer-catalog__list
              .footer-catalog__item
                a(href="#").footer-catalog__link Электроинструменты
              .footer-catalog__item
                a(href="#").footer-catalog__link Бытовая техника
              .footer-catalog__item
                a(href="#").footer-catalog__link Автомобильные запчасти и оборудование
              .footer-catalog__item
                a(href="#").footer-catalog__link Системы отопления

      .footer__bottom
        .footer__copyright <span>&copy; 2024 Роберт Бош ООО,</span> <span>все права защищены</span>
        .footer__links
          a(href="#") Политика конфиденциальности
          a(href="#") Пользовательское соглашение