footer.footer.page__footer
  .footer__container
    .footer__content
      .footer__main
        .footer__navbar
          .footer__claim Разработано для жизни
          .footer-menu
            ul.footer-menu__list
              li.footer-menu__item
                a(href="our-company.html").footer-menu__link О компании
              li.footer-menu__item
                a(href="news.html").footer-menu__link Новости
              li.footer-menu__item
                a(href="products-and-services.html").footer-menu__link Продукция и услуги
              li.footer-menu__item
                a(href="contacts.html").footer-menu__link Контакты

        .footer__contact
          .footer-contact
            .footer-contact__list
              .footer-contact__item
                .footer-contact__title Служба поддержки по общим вопросам
                .footer-contact__display
                  .footer-contact__value: a(href="tel:+7 (495) 560-9-560") +7 (495) 560-9-560
                  .footer-contact__value: a(href="mailto:contact@ru.bosch.com") contact@ru.bosch.com
              .footer-contact__item
                .footer-contact__title Служба поддержки BSH Бытовые приборы
                .footer-contact__display
                  .footer-contact__value: a(href="tel:+7 (800) 200-29-61") +7 (800) 200-29-61
                  .footer-contact__value: a(href="mailto:hotlineru@bshg.com.ru") hotlineru@bshg.com.ru

      .footer__bottom
        .footer__copyright <span>&copy; 2024 Роберт Бош ООО,</span> <span>все права защищены</span>
        .footer-links
          a(href="terms-of-use.html") Условия использования
          a(href="policy.html") Политика конфиденциальности
          a(href="#") Пользовательское соглашение