include ../mixins/checkbox
include ../mixins/chips

.drawer-discuss
  .drawer-discuss__container
    .drawer-discuss__head
      .drawer-discuss__title Обсудить проект
      .drawer-discuss__close(data-close='drawer-close')
    .drawer-discuss__form
      form.form.form--discuss
        .form__container
          .form__col
            .form__description Расскажите о своем проекте, укажите контакты и мы свяжемся, чтобы обсудить его и начать работу.
            .form__section
              .form__subtitle Вам нужно
              +chips({
                items: [
                  {
                    name: 'CRM Битрикс24',
                    checked: true
                  },
                  {
                    name: 'Web и Mobile разработка',
                    checked: false
                  },
                  {
                    name: 'Автоматизация IT-разработки',
                    checked: false
                  },
                  {
                    name: '1С:ERP',
                    checked: false
                  },
                  {
                    name: 'Data-инжиниринг и Data-аналитика',
                    checked: false
                  },
                  {
                    name: 'Тестирование ПО',
                    checked: false
                  },
                  {
                    name: 'Аутстаф',
                    checked: false
                  },
                  {
                    name: 'Аудит информационной безопасности',
                    checked: false
                  }
                ]
              })
          .form__col
            .form.form--discuss
              .form__row
                .form__field
                  .form__input
                    label
                      .form__label Имя и фамилия
                      input(type="text").form__control
                .form__field
                  .form__input
                    label
                      .form__label Телефон
                      input(type="text").form__control
                .form__field
                  .form__input
                    label
                      .form__label E-mail
                      input(type="text").form__control
                .form__field
                  .form__input
                    label
                      .form__label Компания
                      input(type="text").form__control
              .form__field
                .form__input.form__input--textarea
                  label
                    .form__label Комментарий
                    textarea.form__control
              .form__bottom
                +checkbox({text: ""})
                .btn.btn--lg.btn--outline-primary Отправить