.footer-menu
  nav.footer-menu__nav
    .footer-menu__item
      a(href="solutions.html" class=pageName === 'solutions' ? 'footer-menu__link--active':'').footer-menu__link: span Решения
    .footer-menu__item
      a(href="company.html" class=pageName === 'company' ? 'footer-menu__link--active':'').footer-menu__link: span О компании
    .footer-menu__item
      a(href="contacts.html" class=pageName === 'contacts' ? 'footer-menu__link--active':'').footer-menu__link: span Контакты