.pagination
  .pagination__inner
    a.pagination__arrow.pagination__double-arrow_left(href="#")
    a.pagination__arrow.pagination__arrow_left(href="#")
    a.pagination__item(href="#") 1
    a.pagination__item.active(href="#") 2
    a.pagination__item(href="#") 3
    a.pagination__item(href="#") 4
    a.pagination__item(href="#") 5
    span.pagination__dots ...
    a.pagination__item(href="#") 17
    a.pagination__arrow.pagination__arrow_right(href="#")
    a.pagination__arrow.pagination__double-arrow_right(href="#")
