svg(style="display:none")
  defs
    g(id="svg-logo")
      // viewBox="0 0 433 97"
      path(d='M185.2,46.88a13.77,13.77,0,0,0,8.8-13c0-11.7-8.3-17.5-19.7-17.5H144.4V80h32.5c10,0,19.8-7,19.8-17.7C196.7,49.58,185.2,47,185.2,46.88ZM160,29.58h11.6a5.66,5.66,0,0,1,6,5.31q0,.34,0,.69a5.93,5.93,0,0,1-6,5.81H159.9Zm11.7,37.1H160.1V54.18h11.3c5.7,0,8.4,2.5,8.4,6.2C179.8,65,176.4,66.68,171.7,66.68Z' style='fill:#ed0007;fill-rule:evenodd')
      path(d='M231.1,14.78c-18.4,0-29.2,14.7-29.2,33.3s10.8,33.3,29.2,33.3,29.2-14.6,29.2-33.3S249.6,14.78,231.1,14.78Zm0,51.4c-9,0-13.5-8.1-13.5-18.1s4.5-18,13.5-18,13.6,8.1,13.6,18C244.7,58.18,240.1,66.18,231.1,66.18Z' style='fill:#ed0007;fill-rule:evenodd')
      path(d='M294.2,41.38l-2.2-.5c-5.4-1.1-9.7-2.5-9.7-6.4,0-4.2,4.1-5.9,7.7-5.9a17.86,17.86,0,0,1,13,5.9l9.9-9.8c-4.5-5.1-11.8-10-23.2-10-13.4,0-23.6,7.5-23.6,20,0,11.4,8.2,17,18.2,19.1l2.2.5c8.3,1.7,11.4,3,11.4,7,0,3.8-3.4,6.3-8.6,6.3-6.2,0-11.8-2.7-16.1-8.2l-10.1,10c5.6,6.7,12.7,11.9,26.4,11.9,11.9,0,24.6-6.8,24.6-20.7C314.3,46.08,303.3,43.28,294.2,41.38Z' style='fill:#ed0007;fill-rule:evenodd')
      path(d='M349.7,66.18c-7,0-14.3-5.8-14.3-18.5,0-11.3,6.8-17.6,13.9-17.6,5.6,0,8.9,2.6,11.5,7.1l12.8-8.5c-6.4-9.7-14-13.8-24.5-13.8-19.2,0-29.6,14.9-29.6,32.9,0,18.9,11.5,33.7,29.4,33.7,12.6,0,18.6-4.4,25.1-13.8L361.1,59C358.5,63.18,355.7,66.18,349.7,66.18Z' style='fill:#ed0007;fill-rule:evenodd')
      polygon(points='416.3 16.38 416.3 39.78 397 39.78 397 16.38 380.3 16.38 380.3 79.98 397 79.98 397 54.88 416.3 54.88 416.3 79.98 433 79.98 433 16.38 416.3 16.38' style='fill:#ed0007;fill-rule:evenodd')
      path(d='M48.2.18a48.2,48.2,0,1,0,48.2,48.2A48.2,48.2,0,0,0,48.2.18Zm0,91.9a43.7,43.7,0,1,1,43.7-43.7,43.71,43.71,0,0,1-43.7,43.7Z' style='fill:#000;fill-rule:evenodd')
      path(d='M68.1,18.28H64.8v16.5H31.7V18.28H28.3a36.06,36.06,0,0,0,0,60.2h3.4V62H64.8v16.5h3.3a36.05,36.05,0,0,0,0-60.2ZM27.1,72A31.59,31.59,0,0,1,24.47,27.4a32.51,32.51,0,0,1,2.63-2.62Zm37.7-14.6H31.7V39.28H64.8Zm4.5,14.5v-10h0V34.78h0v-10a31.65,31.65,0,0,1,2.39,44.71A33.68,33.68,0,0,1,69.3,71.88Z' style='fill:#000;fill-rule:evenodd')

    g(id="svg-close")
      // viewBox="0 0 24 24"
      path(fill-rule='evenodd', clip-rule='evenodd', d='M3.64651 19.6465L3.29295 20L4.00006 20.7071L4.35361 20.3536L12.0001 12.7071L19.6465 20.3536L20.0001 20.7071L20.7072 20L20.3536 19.6465L12.7072 12L20.3536 4.35357L20.7072 4.00001L20.0001 3.29291L19.6465 3.64646L12.0001 11.2929L4.35361 3.64646L4.00006 3.29291L3.29295 4.00001L3.64651 4.35357L11.293 12L3.64651 19.6465Z', fill='currentColor')

    g(id="svg-search")
      // viewBox="0 0 24 24"
      path(fill-rule='evenodd', clip-rule='evenodd', d='M9 15C12.3137 15 15 12.3137 15 9C15 5.68629 12.3137 3 9 3C5.68629 3 3 5.68629 3 9C3 12.3137 5.68629 15 9 15ZM15.1171 12.4058C15.6795 11.3977 16 10.2363 16 9C16 5.13401 12.866 2 9 2C5.13401 2 2 5.13401 2 9C2 12.866 5.13401 16 9 16C10.2363 16 11.3977 15.6795 12.4058 15.1171L18.6729 21.4843C19.4475 22.2712 20.7149 22.2762 21.4957 21.4955C22.2765 20.7147 22.2714 19.4472 21.4844 18.6727L15.1171 12.4058ZM14.5569 13.2575C14.1825 13.7454 13.7454 14.1825 13.2575 14.5568L19.3856 20.7828C19.7706 21.1739 20.4005 21.1764 20.7886 20.7884C21.1766 20.4003 21.1741 19.7704 20.783 19.3854L14.5569 13.2575Z', fill='currentColor')

    g(id="svg-location")
      // viewBox="0 0 24 24"
      path(fill-rule='evenodd', clip-rule='evenodd', d='M18 9C18 10.0121 17.6264 11.3455 16.9862 12.8484C16.3553 14.3296 15.5061 15.8832 14.6445 17.307C13.7847 18.7277 12.9232 20.0017 12.276 20.9212C12.1789 21.0592 12.0866 21.1892 12 21.3103C11.9134 21.1892 11.8211 21.0592 11.724 20.9212C11.0768 20.0017 10.2153 18.7277 9.35554 17.307C8.49392 15.8832 7.6447 14.3296 7.01376 12.8484C6.37357 11.3455 6 10.0121 6 9C6 5.68629 8.68629 3 12 3C15.3137 3 18 5.68629 18 9ZM19 9C19 12.9735 14.3323 19.793 12.62 22.1609C12.2355 22.6927 12 23 12 23C12 23 11.7645 22.6927 11.38 22.1609C9.66774 19.793 5 12.9735 5 9C5 5.13401 8.13401 2 12 2C15.866 2 19 5.13401 19 9ZM14 9C14 10.1046 13.1046 11 12 11C10.8954 11 10 10.1046 10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9ZM15 9C15 10.6569 13.6569 12 12 12C10.3431 12 9 10.6569 9 9C9 7.34315 10.3431 6 12 6C13.6569 6 15 7.34315 15 9Z', fill='currentColor')

    g(id="svg-phone")
      // viewBox="0 0 24 24"
      path(d='M16.0809 19.9289C15.2694 19.9289 11.5918 19.7124 7.90388 16.0245C3.89363 12.0143 3.98826 8.01588 4.00238 7.70225C4.00508 7.3754 4.13655 7.0628 4.36826 6.83225L5.95951 5.241C6.07528 5.12461 6.21299 5.03233 6.36466 4.96951C6.51634 4.90669 6.67896 4.87456 6.84313 4.875C7.17701 4.875 7.49088 5.005 7.72701 5.24113L9.84826 7.36238C10.0845 7.59863 10.2145 7.91238 10.2145 8.24638C10.2145 8.58038 10.0845 8.89413 9.84826 9.13025L8.61088 10.3678C8.58763 10.3909 8.56919 10.4184 8.55662 10.4488C8.54404 10.4791 8.53759 10.5116 8.53763 10.5444L8.53613 10.5931C8.53788 10.7074 8.60513 11.776 10.3786 13.5496C12.1651 15.336 13.2364 15.3913 13.3376 15.3921L13.372 15.3864L13.3839 15.3906C13.4739 15.3906 13.5333 15.3448 13.5605 15.3175L14.798 14.08C15.0343 13.8439 15.348 13.7138 15.682 13.7138C16.016 13.7138 16.3298 13.8439 16.5658 14.08L18.6873 16.2013C19.1744 16.6888 19.1744 17.4816 18.6873 17.969L17.0963 19.56C16.8657 19.7918 16.553 19.9233 16.2261 19.926C16.2009 19.927 16.1518 19.9288 16.0809 19.9288V19.9289ZM6.84338 5.875C6.80463 5.875 6.73013 5.8845 6.66651 5.94813L5.07551 7.53925C5.05224 7.56243 5.03379 7.58997 5.02122 7.62031C5.00865 7.65064 5.0022 7.68317 5.00226 7.716L5.00151 7.74388C4.99976 7.78013 4.85651 11.5628 8.61101 15.3174C12.3866 19.0931 16.147 18.9286 16.1845 18.927L16.2124 18.9261C16.3024 18.9261 16.3619 18.8803 16.3893 18.8529L17.9801 17.2619C18.0776 17.1644 18.0776 17.0058 17.9801 16.9084L15.8589 14.7871C15.812 14.7403 15.7484 14.7139 15.6821 14.7139C15.6158 14.7139 15.5522 14.7403 15.5053 14.7871L14.2679 16.0246C14.0388 16.2549 13.7286 16.3863 13.4038 16.3905C13.1393 16.4068 11.7814 16.3664 9.67163 14.2568C7.56213 12.1473 7.52238 10.7898 7.53788 10.5246C7.54211 10.1999 7.67346 9.88967 7.90376 9.66063L9.14126 8.42313C9.23876 8.32563 9.23876 8.167 9.14126 8.06963L7.02001 5.94825C6.99683 5.92499 6.96928 5.90655 6.93895 5.89398C6.90861 5.8814 6.87609 5.87496 6.84326 5.875H6.84338Z', fill='currentColor')

    g(id="svg-comment")
      // viewBox="0 0 24 24"
      path(fill-rule='evenodd' clip-rule='evenodd' d='M4.5 2C3.11929 2 2 3.11929 2 4.5L2 10L2 15.5C2 16.8807 3.11929 18 4.5 18H6V22.5C6 22.6905 6.10823 22.8644 6.27912 22.9486C6.45002 23.0327 6.65387 23.0125 6.80486 22.8963L13.1701 18H19.5C20.8807 18 22 16.8807 22 15.5V10V4.5C22 3.11929 20.8807 2 19.5 2L12 2L4.5 2ZM3 4.5C3 3.67157 3.67157 3 4.5 3L12 3H19.5C20.3284 3 21 3.67157 21 4.5V10V15.5C21 16.3284 20.3284 17 19.5 17H13H12.8299L12.6951 17.1037L7 21.4846V17.5V17H6.5H4.5C3.67157 17 3 16.3284 3 15.5L3 10L3 4.5ZM8 11C8.55228 11 9 10.5523 9 10C9 9.44772 8.55228 9 8 9C7.44772 9 7 9.44772 7 10C7 10.5523 7.44772 11 8 11ZM12 11C12.5523 11 13 10.5523 13 10C13 9.44772 12.5523 9 12 9C11.4477 9 11 9.44772 11 10C11 10.5523 11.4477 11 12 11ZM17 10C17 10.5523 16.5523 11 16 11C15.4477 11 15 10.5523 15 10C15 9.44772 15.4477 9 16 9C16.5523 9 17 9.44772 17 10Z' fill='currentColor')

    g(id="svg-arrow-left")
      // viewBox="0 0 1024 1024"
      path(d='M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z' fill='currentColor')

    g(id="svg-arrow-up")
      // viewBox="0 0 1024 1024"
      path(d='M903.232 768l56.768-50.432L512 256l-448 461.568 56.768 50.432L512 364.928z' fill='currentColor')

    g(id="svg-arrow-right")
      // viewBox="0 0 1024 1024"
      path(d='M256 120.768L306.432 64 768 512l-461.568 448L256 903.232 659.072 512z' fill='currentColor')

    g(id="svg-arrow-down")
      // viewBox="0 0 1024 1024"
      path(d='M903.232 256l56.768 50.432L512 768 64 306.432 120.768 256 512 659.072z' fill='currentColor')


    g(id="svg-email")
      // viewBox="0 0 24 24"
      path(d='M18.3557 19.0215H5.62229C3.96086 19.0215 2.60938 17.67 2.60938 16.0086V7.96995C2.60938 6.30873 3.96107 4.95703 5.62229 4.95703H18.3557C20.017 4.95703 21.3684 6.30873 21.3684 7.96995V16.0086C21.3684 17.67 20.017 19.0215 18.3557 19.0215ZM5.62229 5.83808C4.44672 5.83808 3.49043 6.79438 3.49043 7.96995V16.0086C3.49043 17.1842 4.44672 18.1407 5.62229 18.1407H18.3557C19.5313 18.1407 20.4876 17.1842 20.4876 16.0086V7.96995C20.4876 6.79438 19.5313 5.83808 18.3557 5.83808H5.62229Z')
      path(d='M4.91122 8.01177C7.16314 10.2062 9.41506 12.4003 11.667 14.5947C12.0868 15.0037 12.731 14.3609 12.3106 13.9511C10.0587 11.7569 7.80679 9.56252 5.55486 7.36833C5.13508 6.95917 4.49081 7.60219 4.91122 8.01177Z')
      path(d='M12.3116 14.5952C14.5636 12.401 16.8155 10.2066 19.0674 8.01244C19.4876 7.60286 18.8438 6.95964 18.4238 7.36879C16.1718 9.56298 13.9199 11.7574 11.668 13.9516C11.2478 14.3611 11.8916 15.0044 12.3116 14.5952Z')
      path(d='M19.0416 16.1483C17.5432 14.7272 16.0445 13.3063 14.5461 11.8852C14.1211 11.4823 13.4764 12.1246 13.9024 12.5288C15.4009 13.9499 16.8995 15.3708 18.3979 16.7919C18.8229 17.1948 19.4676 16.5522 19.0416 16.1483Z')
      path(d='M5.62025 16.7915C7.11868 15.3704 8.61732 13.9495 10.1158 12.5284C10.5416 12.1244 9.89731 11.4816 9.47211 11.8847C7.97367 13.3058 6.47503 14.7267 4.9766 16.1478C4.55077 16.5518 5.19504 17.1948 5.62025 16.7915Z')


    g(id="svg-social-hh")
      // viewBox="0 0 36 36"
      path(fill-rule='evenodd' clip-rule='evenodd' d='M18 36C27.9414 36 36 27.9414 36 18C36 8.0586 27.9414 0 18 0C8.0586 0 0 8.0586 0 18C0 27.9414 8.0586 36 18 36ZM10.0583 9.5166V15.6402C10.9907 14.5296 12.1067 13.9698 13.4027 13.9698C14.0705 13.9698 14.6681 14.0976 15.2045 14.3496C15.7427 14.6016 16.1441 14.9238 16.4159 15.3144C16.6895 15.7104 16.8731 16.1424 16.9721 16.6194C17.0711 17.0946 17.1215 17.8326 17.1215 18.8352V25.3818H14.2253V19.485C14.2253 18.315 14.1731 17.5734 14.0633 17.2584C13.9535 16.9416 13.7591 16.6914 13.4819 16.5096C13.2029 16.3206 12.8555 16.2288 12.4361 16.2288C11.9573 16.2288 11.5253 16.3494 11.1509 16.587C10.7693 16.8264 10.4939 17.1864 10.3193 17.6652C10.1429 18.1458 10.0547 18.8532 10.0583 19.7928L10.0547 25.3836H7.16211V9.5166H10.0583ZM21.4628 15.6402V9.5166H21.461H18.5684V25.3836H21.461V19.7928C21.461 18.8532 21.5492 18.1458 21.722 17.6652C21.8984 17.1864 22.1738 16.8264 22.5518 16.587C22.928 16.3494 23.3582 16.2288 23.837 16.2288C24.2564 16.2288 24.6074 16.3206 24.8828 16.5096C25.1636 16.6914 25.3562 16.9416 25.466 17.2584C25.5776 17.5734 25.6316 18.315 25.6316 19.485V25.3818H28.5242V18.8352C28.5242 17.8326 28.4738 17.0946 28.3748 16.6194C28.2776 16.1424 28.0922 15.7104 27.8186 15.3144C27.5486 14.9238 27.1454 14.6016 26.6108 14.3496C26.0744 14.0976 25.4714 13.9698 24.8072 13.9698C23.5112 13.9698 22.3952 14.5296 21.4628 15.6402Z' fill='#8DF315')

    g(id="svg-social-in")
      // viewBox="0 0 36 36"
      path(fill-rule='evenodd' clip-rule='evenodd' d='M18 0C8.05888 0 0 8.05888 0 18C0 27.9411 8.05888 36 18 36C27.9411 36 36 27.9411 36 18C36 8.05888 27.9411 0 18 0ZM8.64062 14.9084H12.7198V27.1647H8.64062V14.9084ZM12.9895 11.117C12.963 9.9153 12.1036 9 10.7082 9C9.3127 9 8.40039 9.9153 8.40039 11.117C8.40039 12.2939 9.28573 13.2355 10.6552 13.2355H10.6813C12.1036 13.2355 12.9895 12.2939 12.9895 11.117ZM22.7348 14.6206C25.4191 14.6206 27.4315 16.3727 27.4315 20.1373L27.4313 27.1647H23.3523V20.6076C23.3523 18.9606 22.762 17.8367 21.2853 17.8367C20.1584 17.8367 19.4871 18.5943 19.1923 19.3261C19.0844 19.5884 19.058 19.9538 19.058 20.3201V27.165H14.9783C14.9783 27.165 15.032 16.0588 14.9783 14.9087H19.058V16.6447C19.5994 15.8102 20.569 14.6206 22.7348 14.6206Z' fill='#8DF315')

    g(id="svg-review-quatation")
      // viewBox="0 0 86 63"
      path(d='M67.9598 62.9864C61.6992 62.823 57.1686 60.6172 54.3678 56.3691C51.5671 52.121 50.1667 47.2194 50.1667 41.6641C50.1667 35.292 51.4847 29.2466 54.1207 23.528C56.9215 17.8094 60.4636 12.9077 64.7471 8.823C69.1954 4.57489 73.8908 1.63389 78.8333 0L86 10.0484C83.8582 11.5189 81.5517 13.4796 79.0805 15.9304C76.7739 18.2178 74.6322 20.6687 72.6552 23.2829C70.8429 25.8971 69.6073 28.5113 68.9483 31.1256C72.0785 31.289 74.7969 32.1059 77.1034 33.5764C79.41 34.8835 81.2222 36.6808 82.5402 38.9682C83.8582 41.0923 84.5172 43.7065 84.5172 46.8109C84.5172 52.2027 82.8697 56.2874 79.5747 59.065C76.2797 61.8427 72.408 63.1498 67.9598 62.9864ZM18.0402 62.9864C11.6149 62.823 7.00191 60.6172 4.20115 56.3691C1.40038 52.121 0 47.2194 0 41.6641C0 35.292 1.31801 29.2466 3.95402 23.528C6.75479 17.8094 10.2969 12.9077 14.5805 8.823C19.0287 4.57489 23.7241 1.63389 28.6667 0L35.8333 10.0484C33.6916 11.5189 31.3851 13.4796 28.9138 15.9304C26.6073 18.2178 24.5479 20.6687 22.7356 23.2829C20.9234 25.8971 19.6054 28.5113 18.7816 31.1256C21.9119 31.289 24.6303 32.1059 26.9368 33.5764C29.2433 34.8835 31.0556 36.6808 32.3736 38.9682C33.6916 41.0923 34.3506 43.7065 34.3506 46.8109C34.3506 52.2027 32.7031 56.2874 29.408 59.065C26.113 61.6793 22.3238 62.9864 18.0402 62.9864Z' fill='#8DF315')

    g(id="svg-icon-paperclip")
      // viewBox="0 0 25 24"
      path(d='M21.9403 11.05L12.7503 20.24C11.6244 21.3659 10.0975 21.9984 8.50529 21.9984C6.91311 21.9984 5.38613 21.3659 4.26029 20.24C3.13445 19.1142 2.50195 17.5872 2.50195 15.995C2.50195 14.4029 3.13445 12.8759 4.26029 11.75L13.4503 2.56004C14.2009 1.80948 15.2188 1.38782 16.2803 1.38782C17.3417 1.38782 18.3597 1.80948 19.1103 2.56004C19.8609 3.3106 20.2825 4.32859 20.2825 5.39004C20.2825 6.4515 19.8609 7.46948 19.1103 8.22004L9.91029 17.41C9.53501 17.7853 9.02602 17.9962 8.49529 17.9962C7.96456 17.9962 7.45557 17.7853 7.08029 17.41C6.70501 17.0348 6.49418 16.5258 6.49418 15.995C6.49418 15.4643 6.70501 14.9553 7.08029 14.58L15.5703 6.10004' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')


    // svg(class="svg-icon" viewBox="0 0 32 32" width="32" height="32"): use(xlink:href="#svg-search")