.accordion {
  &__head {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__info {
    margin: 20px 0;
    flex: 1 1 auto;
  }

  &__name {
    font-size: 16px;
  }

  &__body {
    display: none;
    opacity: 0;
  }

  &__arrow {
    background-image: url('data:image/svg+xml,\00003csvg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\00003cpath fill="%2370757a" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z">\00003c/path>\00003c/svg>');
    display: block;
    height: 24px;
    width: 24px;
    transition: transform 0.3s;
  }

  &__content {
    padding-bottom: 16px;
  }

  &__data {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  &__item {
    border-top: 1px solid var(--bosch-gray-90);
    overflow: hidden;
    transition: height 0.2s;

    &:last-child {
      border-bottom: 1px solid var(--bosch-gray-90);
    }

    &--expanded {
      .accordion {
        &__item {
          overflow: visible;
        }

        &__body {
          display: block;
          opacity: 1;
          animation: fadeIn 0.4s 0.1s both;
        }

        &__arrow {
          transform: rotate(-180deg);
        }
      }
    }
  }
}