.drawer {
  z-index: 1000;
  display: none;

  &__overlay {
    position: fixed;
    inset: 0;
    background: rgb(53 52 51 / 50%);
  }

  &__container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    background: #fff;
    padding: 30px 16px;
    transition: transform 0.3s;
    transform: translateX(100%);
    overflow-y: auto;
    scrollbar-color: var(--bosch-scrollbar-handle-color) var(--bosch-scrollbar-bg-color);
    scrollbar-width: thin;

    @media(width >= 576px) {
      width: 500px;
      padding: 45px 30px;
    }
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__body {
    flex-grow: 1;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: var(--bosch-weight-bolder);

    @media(width >= 992px) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-size: 1rem;
    color: var(--bosch-gray-30);
  }

  &[aria-hidden="false"] {
    .drawer {
      &__overlay {
        animation: fadeIn 0.5s both;
      }

      &__container {
        animation: drawerShow 0.3s both;
      }
    }
  }

  &[aria-hidden="true"] {
    .drawer {
      &__overlay {
        animation: fadeOut 0.5s both;
      }

      &__container {
        animation: drawerHide 0.3s both;
      }
    }
  }
}

.opened--countrySelect {
  overflow: hidden;

  #countrySelect {
    display: block;
  }
}

.opened--feedbackDrawer {
  overflow: hidden;

  #feedbackDrawer {
    display: block;
  }
}

.bx-no-touch {
  .opened--countrySelect,
  .opened--feedbackDrawer {
    padding-right: 17px;
  }
}