.footer-contact {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__title {
    font-weight: var(--bosch-weight-bolder);
    margin: 0 0 0.4rem;
  }

  &__display {
    display: flex;
    gap: 0.2rem 1.5rem;
    flex-direction: column;

    @media (width >= 1024px) {
      flex-direction: row;
    }
  }
}