.headline {
  display: flex;
  gap: 10px 30px;
  flex-direction: column;

  @media(width >= 576px) {
    gap: 20px 30px;
  }

  @media(width >= 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    font-size: 32px;
    margin: 0;
    line-height: 1.1;

    @media(width >= 576px) {
      font-size: 40px;
    }

    @media(width >= 1024px) {
      font-size: 48px;
    }

    @media(width >= 1400px) {
      font-size: 64px;
    }
  }

  &__text {
    font-size: 18px;
    flex-shrink: 0;

    @media(width >= 576px) {
      font-size: 20px;
    }

    @media(width >= 1024px) {
      text-align: right;
      margin-bottom: 8px;
      max-width: 40%;
      font-size: 22px;
    }

    @media(width >= 1400px) {
      font-size: 26px;
    }

    span {
      white-space: nowrap;
    }
  }
}