.headline {
  display: flex;
  gap: 20px 30px;
  align-items: flex-end;
  justify-content: space-between;

  &__title {
    font-size: 48px;
    margin: 0;
    max-width: 60%;
    line-height: 1.1;

    @media(width >= 1400px) {
      font-size: 64px;
    }
  }

  &__text {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: right;
    max-width: 40%;

    @media(width >= 1400px) {
      font-size: 24px;
    }
  }
}