.location {
  position: relative;

  &__country {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: #000;
    transition: 0.4s;

    &:hover {
      color: var(--bosch-link-color)
    }

    &-name {
      font-size: 14px;
    }
  }
}