.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  transform: translateY(-50%);

  @media(width >= 768px) {
    border-radius: 50%;
    background: #fff;
  }

  @media(width >= 1024px) {
    width: 50px;
    height: 50px;
  }

  &::after {
    font-size: 16px;
    color: #fff;

    @media(width >= 768px) {
      color: #000;
    }

    @media(width >= 1024px) {
      font-size: 18px;
    }
  }
}

.swiper-button-prev {
  left: 5px;

  @media(width >= 768px) {
    left: 20px;
  }

  @media(width >= 1024px) {
    left: 30px;
  }
}

.swiper-button-next {
  right: 5px;

  @media(width >= 768px) {
    right: 20px;
  }

  @media(width >= 1024px) {
    right: 30px;
  }
}

.swiper-pagination {
  &-bullet {
    &-active {
      background: var(--bosch-swiper-pagination-bullet-bg);
    }
  }
}