mixin checkbox(data)
  - obData = data || null
  .checkbox
    label
      input(type="checkbox" name=obData.name checked=obData.checked)
      .checkbox__cr
      .checkbox__text
        if (!obData.text)
          | Я разрешаю обработку <a href="policy.html" target="_blank">персональных данных</a>
        else
          span #{obData.text}