include news-card

mixin news(data)
  - items = data.items || null
  .news
    .news__list
      if items
        each item in items
          - description = item.description || null
          .news__item
            +news-card({
              date: item.date,
              title: item.title,
              description: item.description,
              image: item.image
            })