.bd-content {
  & > h2 {
    &:not(:first-child) {
      margin-top: 3rem;
    }
  }

  & > h3 {
    margin-top: 2rem;
  }

  ol {
    padding: 0 0 0 1.5rem;

    li {
      margin: 0 0 1rem;

      ul {
        margin: 1rem 0 1.5rem;
      }
    }
  }
}