:root {
  --bosch-corporate-blue: var(--bosch-blue-50);
  --bosch-corporate-red: var(--bosch-red-50);
  --bosch-corporate-yellow: var(--bosch-yellow-80);
  --bosch-font-family: 'boschsans', helvetica, sans-serif;
  --bosch-body-font-weight: 400;
  --bosch-body-line-height: 1.4;
  --bosch-heading-font-family: var(--bosch-font-family);
  --bosch-body-color: var(--bosch-black);
  --bosch-body-bg: #fff;
  --bosch-highlight-color: #000;
  --bosch-highlight-bg: var(--bosch-yellow-85);
  --bosch-mark-padding: 0.2rem 0.4rem;
  --bosch-link-color: var(--bosch-blue-50);
  --bosch-link-hover-color: var(--bosch-blue-35);
  --bosch-input-border-color: var(--bosch-gray-80);
  --bosch-input-border-hover-color: var(--bosch-gray-60);
  --bosch-input-border-focus-color: var(--bosch-gray-60);
  --bosch-scrollbar-handle-color: var(--bosch-gray-80);
  --bosch-scrollbar-bg-color: var(--bosch-white);
  --bosch-link-opacity: 1;
  --bosch-dt-font-weight: 700;
  --bosch-weight-bolder: 700;
  --bosch-swiper-pagination-bullet-bg: var(--bosch-blue-50);
}