:root {
  --bh-corporate-red: #a00;
  --bh-corporate-yellow: #ff9100;
  --bh-body-font-family: 'boschsans', helvetica, sans-serif;
  --bh-body-font-weight: 300;
  --bh-body-line-height: 1.4;
  --bh-heading-font-family: 'boschsans', helvetica, sans-serif;
  --bh-body-color: #000;
  --bh-body-bg: #fff;
  --bh-highlight-color: #000;
  --bh-highlight-bg: #ffd61e;
  --bh-mark-padding: 0.2rem 0.4rem;
  --bh-link-color: #0d6efd;
  --bh-link-hover-color: #0d6efd;
  --bh-link-opacity: 1;
  --bh-dt-font-weight: 500;
  --bh-weight-bolder: 500;
}