:root {
  --bosch-corporate-red: var(--bosch-red-55);
  --bosch-corporate-yellow: var(--bosch-yellow-80);
  --bosch-font-family: 'boschsans', helvetica, sans-serif;
  --bosch-body-font-weight: 400;
  --bosch-body-line-height: 1.4;
  --bosch-heading-font-family: var(--bosch-font-family);
  --bosch-body-color: var(--bosch-black);
  --bosch-body-bg: #fff;
  --bh-highlight-color: #000;
  --bh-highlight-bg: #ffd61e;
  --bh-mark-padding: 0.2rem 0.4rem;
  --bh-link-color: #0d6efd;
  --bh-link-hover-color: #0d6efd;
  --bh-link-opacity: 1;
  --bh-dt-font-weight: 500;
  --bh-weight-bolder: 500;
}