$dt-font-weight: 500;
$font-weight-bolder: 500;
$small-font-size: 10px;
$mark-padding: .2rem .4rem;
$sub-sup-font-size: 10px;
$link-decoration: none;
$link-hover-decoration: none;
$table-cell-padding-y: 4px;
$table-caption-color: #000;
$table-th-font-weight: 600;
$legend-margin-bottom: 1rem;
$legend-font-size: 16px;
$legend-font-weight: 500;
$base-font: 'Open Sans', sans-serif;
$second-font: 'Inter', sans-serif;
$base-font-color: #222;
$primary-color: #ff9100;
$primary-color-light: rgb(255 145 0 / 70%);
